# Ignore all
*

# Unignore files with extension and dirs + makefile
!*.*
!*/
!Makefile

# Ignore .out files and build, bin, .vscode or .dSYM dirs
bin/
build/
.vscode/
*.dSYM/

# Archives
*.zip
*.tar.*

# Misc
*.out
*.o